
h2 {
  font-size: 1.2em;
}

input {
  border: 1px solid lightgray;
  height: 2em;
  margin: 0.5em;
  padding: 0.5em;
  
}

option {
  font-size: 1em;
}


button:hover {
  background-color: black;
  color: white;
}

.bold {
  font-weight: 500;
  
}

.edit:hover {
  background-color: rgb(64, 173, 50);
}

.delete:hover {
  background-color: rgb(255, 45, 45);
}

.add-btn {
  width: 40%;
  margin: 20px auto;
}

#manifesto .edit {
  width: 50%;
  margin: 10px auto;
}

.add-btn:hover {
  background-color: rgb(64, 173, 50);
}


.link, button {
  -webkit-appearance: button;
  color: black;
  text-decoration: none;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.ballot-card-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(236, 236, 236);
}

.selected {
  font-weight: bolder;
  background-color: rgb(35, 126, 126) !important;
  box-shadow: 4px 4px 1px black;
  color: white !important;
}

.sidebar-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  width: 80%;
  height: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.sidebar-link:visited, .link:visited, .ballot-card-link:visited {
  color: black;
}

.link:hover, .ballot-card-link:hover {
  background-color: rgb(31, 151, 231);
  color: white;
}

.sidebar-link:hover {
  border: 3px solid rgb(35, 126, 126);
}


.App {
  font-size: 1.4vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  gap: 1%;
}

#login-container {
  grid-area: 1 / 1 / span 6 / span 6;
  display: grid;
  justify-content: center;
}

#login {
  position: relative;
  top: 20vh;
  height: fit-content;
  width: 30em;
  font-size: 0.8em;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px gray;
}

#login form {
  margin: 4%;
}

#login input {
  
  width: 28vw;
}

#login input, #login button {
  margin: 0.1em 0;
}

#topbar {
  
  background-color: #eee;
  grid-area: 1 / 2 / 1 / span 6;
  display: grid;
  grid-template: 1fr / repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

#heading {
  grid-area: 1 / 1 / 1 / span 5;
}

.topbar-links {
  grid-area: 1 / 6 / 1 / span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



#main {
  
  grid-area: 2 / 2 / span 5 / span 5;
}

#sidebar {
  font-size: 1.3em;
  background-color: #eee;
  grid-area: 1 / 1 / span 6 / 1;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  justify-content: center;
  align-items: center;
}

#dashboard {
  height: 100%;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  gap: 1%;
  
}

#summaries {
  grid-area: 1 / 4 / span 2 / span 2;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.summary {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

#candidate-preview {
  grid-area: 3 / 1 / span 2 / span 5;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  gap: 1%;
  overflow-x: scroll;
}

.candidate-image {
  height: 100%;
  border: 1px solid grey;
}

#election-preview {
  grid-area: 1 / 1 / span 2 / span 3;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  justify-content: center;
  align-items: center;
}

#ballot-card {
  height: 100%;
}

#ballot-card-form-grid {
  height: 100%;
  display: grid;
  grid-template: repeat(8, 1fr) / 1fr;
  justify-content: center;
  align-items: center;
}

#ballot-card-inner-grid {
  grid-area: 1 / 1 / span 7 / 1;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  gap: 2%;
  overflow-x: scroll;
  padding: 0 2%;
}

.ballot-card-candidate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#ballot-card-submit {
  grid-area: 8 / 1 / 8 / 1;
  width: 50%;
  margin: 0px auto;
}

.ballot-card-candidate-image {
  border: 1px solid grey;
  height: 30%;
  width: 80%;
}

.voted-candidate-container {
  height: 100%;
  width: 60%;
  margin: 0px auto;
}

.voted-candidate-container .ballot-card-candidate-image {
  width: 30%;
}

#candidates, #election, #voters {
  height: 85%;
  display: grid;
  grid-template: repeat(7, 1fr) / 1fr;
  justify-content: center;
  align-items: center;
}

#voters .filter-container, #candidates .filter-container {
  grid-area: 2 / 1 / 2 / 1; 
  width: 80%; 
  margin: 0px auto;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

#voters #election-select, #candidates #election-select {
  grid-area: 1 / 1 / 1 / span 3;
}

#results {
  height: 90%;
  display: grid;
  grid-template: repeat(8, 1fr) / 1fr;
  justify-content: center;
}
#results #results-table {
  grid-area: 4 / 1 / span 4 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-head h1 {
  
  padding: 0.5em;
}

#results-head, #results-body {
  line-height: 1.5em;
  padding: 0.5em;
}

.results-flex {
  width: 70%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#results select {
  height: fit-content;
  width: 40%;
  margin: 0px auto;
}

.add-form {
  margin: 2%;
  grid-area: 1 / 1 / 1 / 1;
}

.table-fixed-head {
  height: 100%;
  min-width: 95%;
  overflow-y: auto;
  margin: 0px auto;
  grid-area: 3 / 1 / span 5 / 1;
}

.table-fixed-head thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr {
  font-size: 0.8em;
  height: 6vh;
}

th, td {
  padding: 8px;
  
}
th {
  background: #eee;
}

tr:hover {
  background-color: rgb(231, 251, 255);
}

.table{
  min-width: 100%;
  margin: 0px auto;
  border-collapse: collapse;
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 2; 
}

.modal {
  position: relative;
  width: 40%;
  height: fit-content;
  padding: 3%;
  border: 4px solid rgb(184, 184, 184);
  border-radius: 10px;
  background-color: white;
}

.manifesto-modal {
  width: fit-content;
}

.modal button {
  margin: 4% 6% 0 6%;
}

.is-invalid {
  
}

.invalid-feedback {
  color: red;
  height: 1.5em;
}

.add-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
}

.add-form-fields input, .add-form-fields select {
  margin: 0.5em;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.5em;
  transform: rotate(45deg);
  cursor: pointer;
  
}


#manifesto {
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
}

#manifesto-head {
  grid-area: 1 / 1 / 1 / span 3;
  justify-self: center;
  align-self: center;
}

#manifesto-body {
  grid-area: 2 / 1 / span 2 / span 3;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr); 
}

#manifesto-who, #manifesto-what, #manifesto-why {
  margin: 1%;
  display: grid;
  grid-template: repeat(6, minmax(15%, auto)) / 1fr;
}

#manifesto-who {
  grid-area: 1 / 1 / span 2 / 1;
}

#manifesto-what {
  grid-area: 1 / 2 / span 2 / 2;
}

#manifesto-why {
  grid-area: 1 / 3 / span 2 / 3;
}

#manifesto-body h2 {
  grid-area: 1 / 1 / 1 / 1
}

#manifesto-body p {
  grid-area: 2 / 1 / span 4 / 1;
}

#manifesto-body button {
  grid-area: 6 / 1 / 6 / 1;
}

#profile {
  height: 100%;
  max-width: 90%;
  min-width: 80%;
  padding: 3%;
  margin: 0px auto;
  display: grid;
  grid-template: repeat(9, 1fr) / 1fr;
  justify-content: center;
  align-items: center;
}

#profile .edit {
  margin: 5%;
}

#change-name {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  
}

#name {
  grid-area: 1 / 2 / 1 / 2;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 1%;
  
}

#change-name-form, #change-password-form, #change-email-form {
  height: 100%;
  width: 80%;
  margin: 0px auto;
  padding: 1em; 
}

#change-email {
  grid-area: 2 / 1 / 2 / 1;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  
}

#change-password {
  grid-area: 3 / 1 / 3 / 1;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

#profile input {
  min-width: 100%; 
}





/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}








