.App {
  font-size: 1.4vw;
  height: 100vh;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(6, 1fr)/repeat(6, 1fr);
  gap: 1%;
}

h2 {
  font-size: 1.2em;
}

input {
  border: 1px solid lightgray;
  height: 2em;
  margin: 0.5em;
  padding: 0.5em;
}

option {
  font-size: 1em;
}

.bold {
  font-weight: 500;
}

/*Buttons/Links*/
.edit:hover {
  background-color: #40ad32;
}

.delete:hover {
  background-color: #ff2d2d;
}

.add-btn {
  width: 40%;
  margin: 20px auto;
}

.add-btn:hover {
  background-color: #40ad32;
}

button:hover {
  background-color: black;
  color: white;
}

.link, button {
  -webkit-appearance: button;
  color: black;
  text-decoration: none;
  background-color: #ececec;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.candidate-preview-link {
  text-decoration: none;
  color: black;
}

.candidate-preview-link:hover {
  background-color: rgba(35, 126, 126, 0.2);
}

.ballot-card-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #ececec;
}

.sidebar-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: #e0e0e0;
  width: 80%;
  height: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.sidebar-link:hover {
  border: 3px solid #237e7e;
}

.sidebar-link:visited, .link:visited, .ballot-card-link:visited {
  color: black;
}

.link:hover, .ballot-card-link:hover {
  background-color: #1f97e7;
  color: white;
}

/*Login*/
#login-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / span 6 / span 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-container #login {
  position: relative;
  top: 20vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30em;
  font-size: 0.8em;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
}

#login-container #login form {
  margin: 4%;
}

#login-container #login form input {
  width: 28vw;
}

#login-container #login form input, #login-container #login form button {
  margin: 0.1em 0;
}

/*Topbar*/
#topbar {
  border-bottom: 4px solid #b48383;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 1 / 2 / 1 / span 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[7];
      grid-template: 1fr/repeat(7, 1fr);
  margin-bottom: 1em;
}

#topbar #heading {
  width: 30%;
  margin-left: 10%;
  border-radius: 0.2em;
  font-family: 'DM Serif Display', serif;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 1 / span 2;
}

#topbar #app-about {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1 / 3 / 1 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar #app-about p {
  font-size: 0.7em;
}

#topbar .topbar-links {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: 1 / 6 / 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .topbar-links button, #topbar .topbar-links .link {
  background-color: white;
}

#topbar .topbar-links button:hover, #topbar .topbar-links .link:hover {
  color: #237e7e !important;
}

/*Main*/
#main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 2 / 2 / span 5 / span 5;
}

/*Sidebar*/
#sidebar {
  font-size: 1.3em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / span 6 / 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[5];
  -ms-grid-columns: 1fr;
      grid-template: repeat(5, 1fr)/1fr;
}

#sidebar .sidebar-selected {
  font-weight: bolder;
  background-color: #237e7e !important;
  -webkit-box-shadow: 4px 4px 1px black;
          box-shadow: 4px 4px 1px black;
  color: white !important;
}

/*Dashboard*/
#dashboard {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[5];
      grid-template: repeat(4, 1fr)/repeat(5, 1fr);
  gap: 1%;
}

#dashboard #election-preview #election-select, #dashboard #election-preview #election-select label {
  font-size: 1.1em;
}

/*Summaries*/
#summaries {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 1 / 4 / span 2 / span 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 2%;
}

#summaries .summary {
  color: white;
  height: 70%;
  width: 70%;
  margin: 0px auto;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#summaries .summary p {
  font-size: 1.5em;
}

#summaries .summary:nth-child(1) {
  -webkit-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  position: relative;
  top: 15%;
  left: 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0872b8), to(#a4d9ff));
  background-image: linear-gradient(0deg, #0872b8 0%, #a4d9ff 100%);
}

#summaries .summary:nth-child(1):hover {
  top: 0;
  left: 0;
}

#summaries .summary:nth-child(2) {
  -webkit-transition: top 1s, right 1s;
  transition: top 1s, right 1s;
  position: relative;
  top: 15%;
  right: 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ce862e), to(#ffd09b));
  background-image: linear-gradient(0deg, #ce862e 0%, #ffd09b 100%);
}

#summaries .summary:nth-child(2):hover {
  top: 0;
  right: 0;
}

#summaries .summary:nth-child(3) {
  -webkit-transition: bottom 1s, left 1s;
  transition: bottom 1s, left 1s;
  position: relative;
  bottom: 15%;
  left: 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bc3030), to(#ff9898));
  background-image: linear-gradient(0deg, #bc3030 0%, #ff9898 100%);
}

#summaries .summary:nth-child(3):hover {
  bottom: 0;
  left: 0;
}

#summaries .summary:nth-child(4) {
  -webkit-transition: bottom 1s, right 1s;
  transition: bottom 1s, right 1s;
  position: relative;
  bottom: 15%;
  right: 15%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#64a424), to(#c3ff83));
  background-image: linear-gradient(0deg, #64a424 0%, #c3ff83 100%);
}

#summaries .summary:nth-child(4):hover {
  bottom: 0;
  right: 0;
}

/*Candidate Preview*/
#candidate-preview {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 3 / 1 / span 2 / span 5;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 1%;
  overflow-x: scroll;
}

#candidate-preview .candidate-image-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

#candidate-preview .candidate-image-container .candidate-image {
  width: 80%;
  height: auto;
  border-radius: 0.5em;
}

#candidate-preview .candidate-image-container .candidate-name {
  font-size: 0.8em;
  padding-top: 0.5em;
}

/*Election Preview*/
#election-preview {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / span 2 / span 3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: 1fr;
      grid-template: repeat(2, 1fr)/1fr;
}

/*Ballot Card*/
#ballot-card {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[10];
  -ms-grid-columns: 1fr;
      grid-template: repeat(10, 1fr)/1fr;
}

#ballot-card #election-select {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
}

#ballot-card #ballot-card-form-grid {
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / span 9 / 1;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: 1fr;
      grid-template: repeat(8, 1fr)/1fr;
}

#ballot-card #ballot-card-form-grid #ballot-card-submit {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: 8 / 1 / 8 / 1;
  width: 50%;
  margin: 0px auto;
}

#ballot-card #ballot-card-form-grid #ballot-card-inner-grid {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / span 7 / 1;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 1%;
  overflow-x: scroll;
  padding: 0 2%;
}

#ballot-card #ballot-card-form-grid #ballot-card-inner-grid input[type='radio'] {
  accent-color: #237e7e;
  width: 2em;
}

.ballot-card-candidate, .voted-candidate {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ballot-card-candidate-image-container {
  background-color: rgba(104, 64, 26, 0.2);
  margin: 0.5em;
  height: 40%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
}

.ballot-card-candidate-image-container .ballot-card-candidate-image {
  width: 80%;
  max-height: 100%;
  border-radius: 0.5em;
}

/*Voted Candidate*/
.voted-candidate-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / span 8 / 1;
  height: 100%;
  width: 80%;
  margin: 0px auto;
}

.voted-candidate > * {
  margin: 0.5em;
}

.voted-candidate-image-container {
  background-color: rgba(104, 64, 26, 0.2);
  padding: 0.5em;
  margin: 1em;
  width: 15%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
}

.voted-candidate-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voted-candidate-flex h2 {
  margin: 0.5em;
}

.voted-candidate-image {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.voted-candidate-body {
  height: 60%;
}

/*Voters/Candidates/Elections*/
#candidates, #election, #voters {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#voters .filter-container, #candidates .filter-container {
  width: 100%;
  margin: 1em auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template: 1fr/repeat(6, 1fr);
}

#voters .filter-container .add-btn, #candidates .filter-container .add-btn {
  width: 70%;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1 / 5 / 1 / span 2;
}

#voters #election-select, #candidates #election-select {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 1 / span 3;
}

/*Results*/
#results {
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: 1fr;
      grid-template: repeat(8, 1fr)/1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-result-container {
  width: 80%;
  margin: 0px auto;
  position: relative;
  top: 50%;
}

.no-result-msg {
  line-height: 2em;
}

#results #results-table {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: 4 / 1 / span 4 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#results-head h1 {
  padding: 0.5em;
}

#results-head, #results-body {
  line-height: 1.5em;
  padding: 0.5em;
}

.results-flex {
  width: 70%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#results select {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  margin: 0px auto;
}

/*Tables*/
.add-form {
  margin: 2%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
}

.table-fixed-head {
  height: 100%;
  min-width: 95%;
  overflow-y: auto;
  margin: 0px auto;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / span 5 / 1;
}

.table-fixed-head thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody tr {
  font-size: 0.8em;
  height: 6vh;
}

th, td {
  padding: 8px;
}

th {
  background: #eee;
}

tr:hover {
  background-color: rgba(35, 126, 126, 0.2);
}

.table {
  text-align: left;
  min-width: 100%;
  margin: 0px auto;
  border-collapse: collapse;
}

.invalid-feedback {
  color: red;
  min-height: 1.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.add-form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.add-form-fields input, .add-form-fields select {
  margin: 0.5em;
}

/*Modals*/
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.modal {
  position: relative;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3%;
  border: 4px solid #b8b8b8;
  border-radius: 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manifesto-modal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.confirmation-modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin-top: 2%;
}

.modal button {
  margin: 4% 6% 0 6%;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

/*Manifesto*/
#manifesto {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(4, 1fr)/repeat(3, 1fr);
}

#manifesto #manifesto-head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 1 / span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#manifesto #manifesto-head h1 {
  font-size: 1.5em;
  margin: 0.5em;
}

.manifesto-body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / span 3 / span 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

.manifesto-body .manifesto-who, .manifesto-body .manifesto-what, .manifesto-body .manifesto-why {
  margin: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(15%, auto))[6];
  -ms-grid-columns: 1fr;
      grid-template: repeat(6, minmax(15%, auto))/1fr;
}

.manifesto-body .manifesto-who {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / span 2 / 1;
}

.manifesto-body .manifesto-what {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / span 2 / 2;
}

.manifesto-body .manifesto-why {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / span 2 / 3;
}

.manifesto-body h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
}

.manifesto-body p {
  overflow-y: scroll;
  text-align: left;
  margin: 0 0.2em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / span 4 / 1;
}

.manifesto-body button {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: 6 / 1 / 6 / 1;
}

#manifesto .edit {
  width: 50%;
  margin: 10px auto;
}

/*Profile*/
#profile {
  height: 100%;
  max-width: 90%;
  min-width: 80%;
  padding: 3%;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[9];
  -ms-grid-columns: 1fr;
      grid-template: repeat(9, 1fr)/1fr;
}

#profile .edit {
  margin: 5%;
}

#profile #change-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1 / 1 / 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

#profile #change-name #name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1 / 2 / 1 / 2;
}

#profile #change-name-form, #profile #change-password-form, #profile #change-email-form {
  height: 100%;
  width: 80%;
  margin: 0px auto;
  padding: 1em;
}

#profile #change-email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 2 / 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

#profile #change-password {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3 / 1 / 3 / 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

#profile input {
  min-width: 100%;
}

/*Loading Icon*/
.loading-icon {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: relative;
  top: 25vh;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=app.css.map */